DISCORD_TOKEN=
CLIENT_ID=
PREFIX=$
MONGODB_URI=

# Lavalink v4 Credentials
LAVALINK_HOST=
LAVALINK_PORT=
LAVALINK_PASSWORD=
LAVALINK_SECURE=false

# spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
# lyrics
GENIUS_API_KEY=